* {
margin: 0;
padding: 0;
list-style-type: none;
box-sizing: border-box;
}
        
        html {
          font-size: 10px;
        }
        
        body {
          font-family: "Rubik", sans-serif;
          font-size: 1.4rem;
          color: rgba(96, 104, 119, 0.8);
        }
        
        @media screen and (min-width: 992px) {
          body {
            font-size: 1.6rem;
          }
        }
        
        h1, h2, h3, h4 {
          color: #0b132a;
        }
        
        a {
          text-decoration: none;
          color: rgba(96, 104, 119, 0.8);
          display: inline-block;
          transition: all 200ms;
        }
        
        section {
          padding: 50px 0;
        }
        
        .section-header {
          margin: 0 auto 60px;
          max-width: 270px;
          text-align: center;
        }
        
        @media screen and (min-width: 992px) {
          .section-header {
            max-width: 555px;
          }
        }
        
        .section-title {
          font-size: 2.6rem;
          margin-bottom: 20px;
        }
        
        @media screen and (min-width: 992px) {
          .section-title {
            font-size: 3.5rem;
          }
        }
        
        .section-subtitle {
          line-height: 30px;
        }

        

        
        .container {
          max-width: 1140px;
          width: 100%;
          margin: 0 auto 0 auto;
          padding: 0 20px;
        }
        
        .text-center {
          text-align: center;
        }
        
        .font-400 {
          font-weight: 400;
        }
        
        .font-700 {
          font-weight: 700;
        }

        .rec-btn {
          text-align: center;
          background-color: #f53838;
          color: #ffffff;
          box-shadow: 0 20px 40px rgba(245, 56, 56, 0.35);
          padding: 2.1rem 3.75rem;
          border-radius: 10px;
        }
        
        .rec-btn:hover {
          box-shadow: 0 20px 40px rgba(11, 19, 42, 0.35);
          background-color: #0b132a;
        }
        
        @media screen and (min-width: 992px) {
          .rec-btn {
            width: unset;
            padding: 2.1rem 7.75rem;
          }
        }

        .round-btn {
          border-radius: 30px;
        }

        .btn--small {
          padding: 1.3rem 4.5rem;
        }
        
        .btn--medium {
          padding: 1.25rem 6.3rem;
        }
        
        .btn--outlined {
          border: 1px solid #f53838;
          color: #f53838;
        }
        
        .btn--outlined:hover {
          background-color: #f53838;
          color: #ffffff;
        }
        
        .header {
          padding: 20px 0;
          width: 100%;
          background-color: #fff;
        }
        
        @media screen and (min-width: 992px) {
          .header {
            background-color: #fff;
          }
        }
        
        .header .container {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        
        .header .nav {
          display: none;
        }
        
        .header .nav.show {
          display: block;
        }
        
        @media screen and (min-width: 992px) {
          .header .nav {
            display: block;
          }
        }
        
        .header .nav ul {
          display: flex;
        }
        
        .header .nav .nav-item:not(:last-child) {
          margin-right: 40px;
        }
        
        .header .nav .nav-link:hover {
          color: #f53838;
        }
        
        .header-right {
          display: none;
        }
        
        .header-right .sign-in-btn {
          color: #0b132a;
          margin-right: 30px;
          font-weight: 500;
        }
        
        @media screen and (min-width: 992px) {
          .header-right {
            display: block;
          }
        }
        
        .hero {
          padding-top: 100px;
        }
        
        .hero .container {
          display: flex;
          align-items: center;
          flex-wrap: wrap-reverse;
        }
        
        @media screen and (min-width: 992px) {
          .hero .container {
           flex-wrap: nowrap;
          }
        }
        
        .hero .hero-left {
          width: 100%;
        }
        
        @media screen and (min-width: 992px) {
          .hero .hero-left {
            max-width: 555px;
          }
        }
        
        .hero .section-title {
          font-weight: 500;
        }
        
        @media screen and (min-width: 992px) {
          .hero .section-title {
            font-size: 5rem;
          }
        }
        
        .hero .section-title span {
          font-weight: 700;
        }
        
        .hero .section-subtitle {
          margin-top: 20px;
          margin-bottom: 30px;
        }
        
        .hero .section-subtitle span {
          font-weight: 500;
        }
        
        .hero .hero-right {
          width: 100%;
        }
        
        .hero .hero-right img {
          width: 100%;
        }
        
        .quick-stats {
          padding-top: 100px;
        }
        
        @media screen and (min-width: 992px) {
          .quick-stats {
            padding-top: 50px;
          }
        }
        
        .quick-stats .container {
          display: flex;
          flex-direction: column;
          box-shadow: 0 20px 60px rgba(0, 0, 0, 0.09);
          padding: 50px;
          border-radius: 10px;
        }
        
        @media screen and (min-width: 992px) {
          .quick-stats .container {
            flex-direction: unset;
          }
        }
        
        .quick-stats .container > div {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
        }
        
        @media screen and (min-width: 992px) {
          .quick-stats .container > div {
            justify-content: center;
            margin-bottom: unset;
          }
        }
        
        @media screen and (min-width: 992px) {
          .quick-stats .container > div:nth-child(2) {
            border-left: 2px solid #eeeff2;
            border-right: 2px solid #eeeff2;
          }
        }
        
        .quick-stats .container > div p:first-child {
          color: #0b132a;
          margin-bottom: 5px;
          font-size: 2.5rem;
        }
        
        .quick-stats .container > div p:last-child {
          font-size: 2rem;
        }
        
        @media screen and (min-width: 992px) {
          .quick-stats .container > div img {
            margin-right: 36.5px;
          }
        }
        
        .features .container {
          display: flex;;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
        }
        
        @media screen and (min-width: 992px) {
          .features .container {
            flex-direction: unset;
          }
        }
        
        .features-left {
          margin-bottom: 20px;
        }
        
        @media screen and (min-width: 992px) {
          .features-left {
            margin-bottom: unset;
          }
        }
        
        .features-left img {
          width: 100%;
        }
        
        .features-right {
          max-width: 428px;
        }
        
        .features-list {
          margin-top: 20px;
        }
        
        .features-list li {
          margin-bottom: 20px;
          font-size: 1.4rem;
        }
        
        .features-list li::before {
          content: url("./assets/Group1120.png");
          position: relative;
          top: 5px;
          margin-right: 12px;
        }
        
        .plans {
          background-color: #fbfbfb;
        }
        
        .plans-wrapper {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          align-items: center;
        }
        
        @media screen and (min-width: 992px) {
          .plans-wrapper {
            flex-direction: unset;
            align-items: unset;
          }
        }
        
        .plans .plan {
          display: flex;
          flex-direction: column;
          max-width: 330px;
          width: 100%;
          align-items: center;
          border: 2px solid #dddddd;
          border-radius: 10px;
          padding: 4rem;
          margin-bottom: 20px;
          background-color: #fff;
        }
        
        @media screen and (min-width: 992px) {
          .plans .plan {
            padding: 8rem 4rem;
            margin-bottom: unset;
          }
        }
        
        @media screen and (min-width: 992px) {
          .plans .plan:nth-child(2) {
            margin: 0 20px;
          }
        }
        
        .plans .plan--recommended {
          border-color: #f53838;
        }
        
        .plans .plan h3 {
          font-size: 1.8rem;
          margin: 30px 0;
        }
        
        .plans .plan-features ul li {
          font-size: 1.4rem;
          margin-bottom: 20px;
        }
        
        .plans .plan-features ul li::before {
          content: url("./assets/jam_check.png");
          margin-right: 25px;
        }
        
        .plans .plan-bottom {
          text-align: center;
          margin-top: auto;
          padding-top: 50px;
        }
        
        .plans .plan-bottom .btn {
          border-width: 3px;
        }
        
        .plans .plan-price {
          font-weight: 800;
          font-size: 2.6rem;
          margin-bottom: 20px;
        }
        
        .plans .plan-price span {
          color: #4f5665;
        }

        .btn-premium {
          background: red;
          color: white;
        }
        
        .locations .section-header .section-title {
          max-width: 383px;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        
        .locations .locations-map-wrapper img {
          height: 100%;
          width: 100%;
        }
        
        .locations .sponsored {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 100px;
          flex-wrap: wrap;
        }
        
        @media screen and (min-width: 992px) {
          .locations .sponsored {
            flex-wrap: unset;
          }
        }
        
        .locations .sponsor {
          height: 30px;
          width: 95px;
          margin-bottom: 20px;
        }
        
        @media screen and (min-width: 992px) {
          .locations .sponsor {
            height: 60px;
            width: 190px;
            margin-bottom: unset;
          }
        }
        
        .locations .sponsor img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: left;
        }
        
        .testimonials {
          padding-bottom: 0;
        }
        
        .testimonials-wrapper{
          display: flex;
          flex-direction: column;
          gap: 40px;
        }

        @media screen and (min-width: 992px) {
          .testimonials-wrapper {
            flex-direction: row;
          }
        }

        .testimonial {
          border-radius: 10px;
          border: 2px solid #dddddd;
          padding: 1.5rem;
          height: 250px;
        }
        
        @media screen and (min-width: 992px) {
          .testimonial {
            min-width: 400px;
            padding: 3rem;
          }
        }
        
        .testimonial--active {
          border-color: #f53838;
        }
        
        .testimonial-top {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
        }

        .photo img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .testimonial-top .photo {
          margin-right: 20px;
        }
        
        .testimonial-top .name {
          font-size: 1.4rem;
        }
        
        @media screen and (min-width: 992px) {
          .testimonial-top .name {
            font-size: 1.8rem;
          }
        }
        
        .testimonial-top .location {
          font-size: 1.4rem;
        }
        
        .testimonial-top .rating {
          color: #0b132a;
          margin-left: auto;
        }
        
        .testimonial-top .rating::after {
          content: url("./assets/Group1161.png");
          margin-left: 11px;
        }
        
        .testimonial-body {
          line-height: 30px;
          color: #0b132a;
        }
        
        .controls {
          margin-top: 80px;
        }
        
        .controls .container {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        
        .controls .arrows {
          display: flex;
        }
        
        .arrow-left, .arrow-right {
          height: 60px;
          width: 60px;
          border-radius: 50%;
          border: 2px solid #f53838;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
        
        .arrow-left {
          margin-right: 20px;
        }
        
        .arrow-right {
          background-color: #f53838;
        }
        
        .subscribe {
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 10px;
          position: relative;
          top: 120px;
          background-color: #fff;
          box-shadow: 0 20px 60px rgba(0, 0, 0, 0.09);
          flex-direction: column;
          padding: 6rem 2rem;
        }
        
        @media screen and (min-width: 992px) {
          .subscribe {
            flex-direction: unset;
            padding: 6rem 7rem;
          }
        }
        
        .subscribe-left {
          max-width: 370px;
        }
        
        .subscribe-right {
          width: 100%;
          margin-top: 20px;
        }
        
        @media screen and (min-width: 992px) {
          .subscribe-right {
            width: unset;
            margin-top: unset;
          }
        }
        
        .footer {
          background-color: #f8f8f8;
          padding-top: 190px;
          padding-bottom: 50px;
        }
        
        .footer .container {
          display: flex;
          flex-direction: column;
        }
        
        @media screen and (min-width: 992px) {
          .footer .container {
            flex-direction: unset;
            align-items: unset;
          }
        }
        
        @media screen and (min-width: 992px) {
          .footer .container > div:first-child {
            flex: 2; 
            max-width: 340px;
            margin-right: 230px;
          }
        }
        
        @media screen and (min-width: 992px) {
          .footer .container > div:not(:first-child) {
            flex: 1;
          }
        }
        
        .footer-logo {
          margin-bottom: 20px;
        }
        
        .footer-logo + p {
          line-height: 30px;
        }
        
        .footer .social-icons {
          display: flex;
          flex-direction: column;
          margin: 30px 0;
        }
        
        @media screen and (min-width: 992px) {
          .footer .social-icons {
            flex-direction: unset;
          }
        }
        
        .footer .social-icons + p {
          margin-bottom: 20px;
        }
        
        @media screen and (min-width: 992px) {
          .footer .social-icons + p {
            margin-bottom: unset;
          }
        }
        
        .footer .social-icon {
          height: 34px;
          width: 34px;
          border-radius: 50%;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.19);
          margin-bottom: 20px;
        }
        
        @media screen and (min-width: 992px) {
          .footer .social-icon {
            margin-right: 20px;
            margin-bottom: unset;
          }
        }
        
        .footer .social-icon img {
          height: 50%;
        }
        
        .footer h4 {
          font-size: 1.8rem;
          margin-bottom: 20px;
        }
        
        .footer ul li {
          margin-bottom: 20px;
        }
        
        .footer ul a:hover {
          text-decoration: underline;
        }
